work/frames/
work/frames_appstore/
work/frames_cinematic/
work/samples/
work/samples_appstore/
work/samples_cinematic/
work/node_modules/
work/fonts/
work/package.json
work/package-lock.json
work/track.wav
work/track_app.wav
work/track_cine.wav
work/poster.png
work/poster_appstore.png
work/poster_cinematic.png
work/*_orig.png
work/verify_mid.png
work/frames_vert/
work/samples_vert/
work/track_v2.wav
work/poster_vert.png
